[data-theme="myawesometheme"] {
  --text-scaling: 1;
  --typo-base--font-family: "JetBrains Mono", monospace;
  --typo-base--font-size: inherit;
  --typo-base--color-light: var(--color-surface-950);
  --typo-base--color-dark: var(--color-surface-50);
  --typo-base--line-height: inherit;
  --typo-base--font-weight: normal;
  --typo-base--font-style: normal;
  --typo-base--letter-spacing: 0em;
  --typo-base--font-stretch: inherit;
  --typo-base--font-kerning: inherit;
  --typo-base--text-shadow: inherit;
  --typo-base--word-spacing: inherit;
  --typo-base--hyphens: inherit;
  --typo-base--text-transform: inherit;
  --typo-heading--font-family: inherit;
  --typo-heading--color-light: inherit;
  --typo-heading--color-dark: inherit;
  --typo-heading--font-weight: bold;
  --typo-heading--font-style: normal;
  --typo-heading--letter-spacing: inherit;
  --typo-heading--font-stretch: inherit;
  --typo-heading--font-kerning: inherit;
  --typo-heading--text-shadow: inherit;
  --typo-heading--word-spacing: inherit;
  --typo-heading--hyphens: inherit;
  --typo-heading--text-transform: inherit;
  --typo-anchor--font-family: inherit;
  --typo-anchor--font-size: inherit;
  --typo-anchor--color-light: var(--color-primary-600);
  --typo-anchor--color-dark: var(--color-primary-400);
  --typo-anchor--line-height: inherit;
  --typo-anchor--font-weight: inherit;
  --typo-anchor--font-style: inherit;
  --typo-anchor--letter-spacing: inherit;
  --typo-anchor--font-stretch: inherit;
  --typo-anchor--font-kerning: inherit;
  --typo-anchor--text-shadow: inherit;
  --typo-anchor--word-spacing: inherit;
  --typo-anchor--hyphens: inherit;
  --typo-anchor--text-transform: inherit;
  --typo-anchor--text-decoration-line: underline;
  --typo-anchor--text-decoration-color: inherit;
  --typo-anchor--text-decoration-style: inherit;
  --typo-anchor--text-decoration-thickness: inherit;
  --typo-anchor--text-underline-offset: inherit;
  --typo-anchor--text-underline-position: inherit;
  --typo-anchor--hover--text-decoration-line: underline;
  --typo-anchor--hover--text-decoration-color: inherit;
  --typo-anchor--hover--text-decoration-style: inherit;
  --typo-anchor--hover--text-decoration-thickness: inherit;
  --typo-anchor--hover--text-underline-offset: inherit;
  --typo-anchor--hover--text-underline-position: inherit;
  --typo-anchor--active--text-decoration-line: none;
  --typo-anchor--active--text-decoration-color: inherit;
  --typo-anchor--active--text-decoration-style: inherit;
  --typo-anchor--active--text-decoration-thickness: inherit;
  --typo-anchor--active--text-underline-offset: inherit;
  --typo-anchor--active--text-underline-position: inherit;
  --typo-anchor--focus--text-decoration-line: none;
  --typo-anchor--focus--text-decoration-color: inherit;
  --typo-anchor--focus--text-decoration-style: inherit;
  --typo-anchor--focus--text-decoration-thickness: inherit;
  --typo-anchor--focus--text-underline-offset: inherit;
  --typo-anchor--focus--text-underline-position: inherit;
  --spacing: 0.25rem;
  --radius-base: 9999rem;
  --radius-container: 0.75rem;
  --default-border-width: 2px;
  --default-ring-width: 2px;
  --default-outline-width: 2px;
  --corner-shape-base: bevel;
  --corner-shape-container: bevel;
  --color-root-bg-light: var(--color-surface-50);
  --color-root-bg-dark: var(--color-surface-950);
  --color-brand-light: var(--color-primary-500);
  --color-brand-contrast-light: var(--color-primary-contrast-500);
  --color-brand-dark: var(--color-primary-500);
  --color-brand-contrast-dark: var(--color-primary-contrast-500);
  --color-primary-50: oklch(82.31% 0.1 30.76deg);
  --color-primary-100: oklch(77.06% 0.13 27.47deg);
  --color-primary-200: oklch(71.92% 0.15 25.86deg);
  --color-primary-300: oklch(67.24% 0.18 25.41deg);
  --color-primary-400: oklch(63.15% 0.2 25.87deg);
  --color-primary-500: oklch(59.92% 0.22 26.88deg);
  --color-primary-600: oklch(54.35% 0.2 27.08deg);
  --color-primary-700: oklch(48.65% 0.18 27.33deg);
  --color-primary-800: oklch(42.53% 0.16 27.72deg);
  --color-primary-900: oklch(36.5% 0.14 28.14deg);
  --color-primary-950: oklch(30.04% 0.12 29.23deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(89.83% 0.07 342.51deg);
  --color-secondary-100: oklch(83.45% 0.06 346.46deg);
  --color-secondary-200: oklch(77.16% 0.05 350.91deg);
  --color-secondary-300: oklch(70.42% 0.05 357.03deg);
  --color-secondary-400: oklch(63.86% 0.04 5.7deg);
  --color-secondary-500: oklch(56.89% 0.04 18.28deg);
  --color-secondary-600: oklch(50.13% 0.03 18.23deg);
  --color-secondary-700: oklch(43.25% 0.03 18.23deg);
  --color-secondary-800: oklch(35.7% 0.02 18.23deg);
  --color-secondary-900: oklch(28.13% 0.02 18.22deg);
  --color-secondary-950: oklch(19.87% 0.01 18.05deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(89.51% 0.05 281.74deg);
  --color-tertiary-100: oklch(81.83% 0.05 281.67deg);
  --color-tertiary-200: oklch(74.01% 0.06 281.58deg);
  --color-tertiary-300: oklch(66.08% 0.06 279.17deg);
  --color-tertiary-400: oklch(57.84% 0.07 278.98deg);
  --color-tertiary-500: oklch(49.27% 0.07 278.49deg);
  --color-tertiary-600: oklch(44.86% 0.06 280.1deg);
  --color-tertiary-700: oklch(40.49% 0.05 279.53deg);
  --color-tertiary-800: oklch(35.85% 0.04 282.22deg);
  --color-tertiary-900: oklch(31.22% 0.03 281.89deg);
  --color-tertiary-950: oklch(26.26% 0.02 288.6deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(92.77% 0.15 139.05deg);
  --color-success-100: oklch(91.43% 0.18 140.37deg);
  --color-success-200: oklch(90.24% 0.2 141.06deg);
  --color-success-300: oklch(89.24% 0.23 141.6deg);
  --color-success-400: oklch(88.41% 0.25 141.86deg);
  --color-success-500: oklch(87.75% 0.26 142.1deg);
  --color-success-600: oklch(77.7% 0.24 141.9deg);
  --color-success-700: oklch(67.32% 0.2 141.63deg);
  --color-success-800: oklch(56.77% 0.17 141.28deg);
  --color-success-900: oklch(45.43% 0.14 140.7deg);
  --color-success-950: oklch(33.33% 0.11 139.16deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-dark);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(97.95% 0.09 106.49deg);
  --color-warning-100: oklch(96.36% 0.11 107.69deg);
  --color-warning-200: oklch(94.8% 0.13 108.62deg);
  --color-warning-300: oklch(93.59% 0.15 109.35deg);
  --color-warning-400: oklch(92.12% 0.16 109.97deg);
  --color-warning-500: oklch(90.7% 0.18 110.49deg);
  --color-warning-600: oklch(84.05% 0.16 108.31deg);
  --color-warning-700: oklch(77.15% 0.15 104.75deg);
  --color-warning-800: oklch(70.26% 0.14 101.29deg);
  --color-warning-900: oklch(63.13% 0.13 95.57deg);
  --color-warning-950: oklch(55.98% 0.11 89.38deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(77.93% 0.13 20.44deg);
  --color-error-100: oklch(74.12% 0.16 21.63deg);
  --color-error-200: oklch(70.59% 0.19 23.12deg);
  --color-error-300: oklch(67.75% 0.21 24.74deg);
  --color-error-400: oklch(65.45% 0.23 26.48deg);
  --color-error-500: oklch(63.93% 0.25 27.93deg);
  --color-error-600: oklch(58.27% 0.23 28.03deg);
  --color-error-700: oklch(52.47% 0.2 28.15deg);
  --color-error-800: oklch(46.67% 0.18 28.38deg);
  --color-error-900: oklch(40.53% 0.16 28.6deg);
  --color-error-950: oklch(34.02% 0.14 29.23deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-dark);
  --color-error-contrast-600: var(--color-error-contrast-dark);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(99.18% 0 18.85deg);
  --color-surface-100: oklch(90.16% 0.01 17.5deg);
  --color-surface-200: oklch(81.25% 0.02 17.63deg);
  --color-surface-300: oklch(71.81% 0.03 17.91deg);
  --color-surface-400: oklch(62.46% 0.04 18.33deg);
  --color-surface-500: oklch(52.52% 0.05 19.05deg);
  --color-surface-600: oklch(46.56% 0.05 19.03deg);
  --color-surface-700: oklch(40.65% 0.04 18.93deg);
  --color-surface-800: oklch(34.26% 0.03 18.87deg);
  --color-surface-900: oklch(27.83% 0.02 18.65deg);
  --color-surface-950: oklch(20.71% 0.01 18.44deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
